<!DOCTYPE html>
<html>
  <head>
    <title>シンプルマジックアワー｜夕焼けとマジックアワーの時間がわかるサイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= favicon_link_tag('logo-mark.png', rel: 'apple-touch-icon', sizes: '180x180') %>
    <meta name="description" content="目的地の夕焼けとマジックアワーの時間を計算。綺麗な夕焼けの写真撮影に適した時刻が何時か分かります。">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name = 'viewport' content = 'width=device-width', initial-scale=1>
    <meta name="google-site-verification" content="1iBPvjeDQjXj66sxMfl99_93jOrGKBMT1e534iR0r90" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@simplemagichour" />
    <meta name="twitter:title" content="シンプルマジックアワー" />
    <meta name="twitter:description" content="夕焼けとマジックアワーの時間がわかるサイト" />
    <meta name="twitter:image" content="https://file33-d.kuku.lu/thumbs/20211205-1007_67724beba962d78b71e80661c55f47f6.jpg" />

    <link rel="canonical" href="https://simple-magichour.com">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2284559402460554"
     crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="header_inner">
        <div class="header_logo">
          <%= link_to '/' do %>
            <%= image_tag "logo-wh.png" %>
          <% end %>
        </div>
      </div>
    </header>
    <div class="wrapper">
      <%= yield %>
    </div>
    <footer>
      <div class="footer_inner">
        <p>
          <%= link_to "お問い合わせ", "/support" %>
        </p>
        <p>
          <%= link_to "利用規約", "/terms" %>
        </p>
        <p>
          <%= link_to "プライベートポリシー", "/privacy" %>
        </p>
      </div>
      <small>&copy;シンプルマジックアワー 2021</small>
    </footer>
  </body>
</html>
