<!DOCTYPE html>
<html>
  <head>
    <title>夕焼け&マジックアワー｜夕焼けの時間がわかるサイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name = 'viewport' content = 'width=device-width', initial-scale=1>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2284559402460554"
     crossorigin="anonymous"></script>
    <meta name="google-site-verification" content="8c5cN_iA050soo2l0Z9gx-xVyPiPKMa7KHXnZRV3KHw"/>
  </head>

  <body>
    <header>
      <div class="header_inner">
        <div class="header_logo">
          <%= link_to '/' do %>
            <%= image_tag "logo-wh.png" %>
          <% end %>
        </div>
      </div>
    </header>
    <div class="wrapper">
    <% if current_page?('/') %>
      <div class="cont">
        <div class="inner top-inner">
        <h2>日付と都市を選択すると<br>夕焼けとマジックアワーの時間を表示します</h2>
        <%= form_with url: '/', method: :get, local: true do |f| %>
          <div class="form_area">
            <%= f.date_select :date, value: Time.now.strftime('%Y-%m-%d'), use_month_numbers:true, date_separator:'/' %>
            <%= f.select :city, [
              ['札幌', '札幌市'],
              ['仙台', '仙台市'], 
              ['新潟', '新潟市'],
              ['東京', '新宿区'], 
              ['名古屋', '名古屋市'],
              ['大阪', '大阪市'],
              ['姫路', '姫路市'],
              ['高知', '高知市'],
              ['広島', '広島市'],
              ['福岡', '福岡市'],
              ['那覇', '那覇市'],
              ], { selected: '新宿区' } %>
          </div> 
          <%= f.submit "時刻を表示", class: 'form_btn' %>
        <% end %>
        </div>
      </div>
      <% end %>
      <%= yield %>
    </div>
    
    <footer>
      <div class="footer_inner">
        <p>
          <%= link_to "お問い合わせ", "/support" %>
        </p>
        <p>
          <%= link_to "利用規約", "/terms" %>
        </p>
        <p>
          <%= link_to "プライベートポリシー", "/privacy" %>
        </p>
      </div>
      <small>&copy;夕焼け&マジックアワー 2021</small>
    </footer>
  </body>
</html>
